h3, body{
  margin: 0 0 0 0;
  color: #212529;
  font-family:'M PLUS 1p'
}

h4{
  margin: 0;
}


body{
  height: 100%;
  
}

button{
  color: white;
  box-shadow: 0px 8px 15px #E7DCEF;
  background-color: #FFA887	;
  border-radius: 20px;
  border: 1px solid #FFA887;
  font-size:25px;
  font-weight: bold;
}



.hanna{
 font-family: 'Hanna', fantasy;
}





body{
  height: 100vh;
  background-image: url("./img/background2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url("./img/background2.png") no-repeat center/cover;
}

button{
  font-family: "M PLUS 1p";
}

.nico{
  font-family: 'Nico Moji';
}



.main_text{
  font-size: 6vh;
  
}


#start_area{
  display: block;
  text-align: center;
  overflow: hidden;
}


.sbutton_area{
  width: 40%;
  height: 30%;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 10px;
}

.simg{
  height: 90%;
  margin-top: 2%;
}


#select_area{
  display: none;
  overflow: hidden;
  text-align: center;
  height: 100%;
}



#sentaku{
  font-size: 3vh;
}

#select_buttons{
  height: 90%;
}

#exp_box{
  width: 70%;
  
  margin: 0 auto;
}
#selec_exp{
  
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 1%;
  font-size: 2vh;
  color: #FF92B1;
  background-color: #FFFF8C;
  border-radius: 5px;
  font-weight: bold;
  
}

#start_container{
  text-align: center;
  margin-top: 10vh;
}

#start_img{
  height: 30vh;
  margin-top: 8vh;
}


#start_button{
  width: 180px;
  height: 8vh;
  display: block;
  margin: 0 auto;
  font-size: 3vh;
  margin-top: 12vh;
}


/* question page */
#q-number{
  color: #8b00ff;
  font-size: 3vh;
  font-weight: bold;
}

#q10{
  font-size: 3vh;
  font-weight: bold;
}

#score_box{
  width: 15%;
  background-color: rgb(105, 91, 91);
  margin: 0 auto;
  border-radius: 3px;
}

#question_img{
  width: 60%;
  height: 30vh;
  display: none;
  margin: 0 auto;
  margin-top: 1vh;
  border-radius: 10px;
}


#question_area{
  display: none;
  text-align: center;
  overflow: hidden;
  margin-top: 2vh;
}

#question_line{
  margin-top: 7vh;
}


#question{
  width: 80%;
  height: 40vh;
  background-color: white;
  font-size: 3vh;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  text-align:center;
  border:5px solid #FFA887; 
  box-shadow: 0px 8px 15px #FFDCE1;
  
}

#buttons{
  width: 50%;
  margin: 0 auto;
}


.answer_button{
  width: 70%;
  height: 8vh;
  margin-top: 4vh;
  font-size:3vh;
}

.answer_button:hover{
  background-color: #fd956c	;
}


/* result area */
#result_area{
  margin: 0 auto;
  width: 80%;
  display: none;
  background-color: #F2F8F8;
  text-align: center;
  border-radius: 20px;
  padding-top: 3vh;
  margin-top: 2vh;
}

#result_img{
  width:35vh;
}



#result_title{
  margin-top: 2vh;
  font-size: 8vh;
}

#contact_img{
  height: 5vh;
}

#result_explain{
  color: #969696;
  font-weight: 500;
}


#replay_button{
  color: white;
  width: 35%;
  margin-top: 20px;
  box-shadow: 0px 8px 15px #E7DCEF;
  background-color: #FFA887	;
  border-radius: 20px;
  border: 1px solid #FFA887;
  font-size:3vh;
  font-weight: bold;
}


#question_progress::-webkit-progress-value {  
  border-radius: 12px;
  /* background: #FFA887; */
  background: var(--c,#B0F7FF);
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
} 

progress {
  width: 300px;
  display: block; /* default: inline-block */
  margin: 2em auto;
  padding: 4px;
  border: 0 none;
  background: #FFF;
  border-radius: 14px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}


#timer_img{
  display: inline-block;
  vertical-align:top;
  height: 5vh;
  
}

.tanime{
  animation: watch 0.3s linear infinite both;
}

@keyframes watch{
  0%{transform: translate(0);}
  20%{transform: translate(-2px,2px);}
  40%{transform: translate(-2px,2px);}
  60%{transform: translate(2px,2px);}
  80%{transform: translate(2px,-2px);}
  80%{transform: translate(0);}
}

#question_progress{
  width: 65%;
  margin-top: 2vh;
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
}

progress::-moz-progress-bar {
  border-radius: 12px;
  background: #FFF;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
  
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 25px;
  }
}

progress::-webkit-progress-bar {
    background: transparent;
}

#result_progress{
  width: 40%;
  margin-top: 0px;
}
#result_progress::-webkit-progress-value {  
  border-radius: 12px;
  background: #51FFA6;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
} 


/* modal */
#my_modal{
  display: none;
  width: 35vh;
  padding: 20px 60px;
  
  background-color:transparent;
}

#my_modal .modal_close_btn{
  position: absolute;
  top: 10px;
  right: 10px;
}

#modal_img{
  height: 30vh
}

@media (min-width: 200px) and (max-width: 767px) {

  #selec_exp{
    width: 65%;
  }


  .sbutton_area{
    width: 60%;
  }

  #question_line {
    margin-top: 5vh;
  }
  .answer_button{
    font-size:3vh;
  }

}


